.header
{
  padding: 32px 0;
}
.header_content
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_nav-list
{
    display: flex;
    list-style: none;
    column-gap: 72px;
}
.header_nav-list a
{
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: auto 0;
}
.fig
{
    display: flex;
    margin: auto;
    padding: 3px 0 0 0;
    max-width: 1400px;
    height: 552px;
}
h1
{
    text-align: center;
    margin: auto;
    max-width: 856px;
    color: #000;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}
.main_content {
    display: block;
    width: 856px;
    margin: auto;
    height: auto;
    padding: 88px 0 0 0;
}
.main_content-p
{
     margin: auto;
     text-align: left;
     color: #161616;
     font-family: Inter, sans-serif;
     font-weight: 500;
     font-size: 21px;
     padding: 40px 0 0 0;
}
    span {
        color: #04959E;
    }
.main_content-ol
 {
     display: block;
     padding: 24px 0;
     margin: auto;
 }
.main_content-li
{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #161616;
}
.main_button
{
    padding: 40px 0 88px;
}
.button
{
    display: block;
    background: #04959E;
    width: 145px;
    height: 44px;
    margin: 10px auto;
    text-align: center;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px ;
    border: none;
    padding: 10px 24px;
}
.footer_content
    {
        text-align: center;
        color: #161616;
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding: 16px 0;
        margin: 0 auto;
    }